<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%5p][%t][%c{1}]-[%M] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMax" value="ERROR"/>
            <param name="LevelMin" value="DEBUG"/>
        </filter>
    </appender>

    <!-- error log -->
    <appender name="ERROR" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="@log_path@/log4j-error.log" />
        <param name="Append" value="true" />
        <param name="DatePattern" value="yyyyMMdd'.log'"/>
        <param name="encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%5p][%t][%c{1}]-[%M] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="ERROR" />
            <param name="LevelMax" value="ERROR" />
        </filter>
    </appender>

    <!-- process log -->
    <appender name="PROCESS" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="@log_path@/log4j-access.log" />
        <param name="DatePattern" value="yyyyMMdd'.log'"/>
        <param name="Append" value="true"/>
        <param name="Encoding" value="utf-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-d{yyyy-MM-dd HH:mm:ss} [%5p] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
            <param name="LevelMax" value="WARN" />
        </filter>
    </appender>

    <root>
        <priority value="CONSOLE"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="PROCESS"/>
        <appender-ref ref="ERROR"/>
    </root>
</log4j:configuration>
